{% extends 'base.html' %}

{% block tab_title %}
    RLocker - Pending Requests
{% endblock %}

{% block pageheader_title %}
    Pending Requests
{% endblock %}

{% block page_description %}
    Pending Requests
{% endblock %}

{% block messages_area %}
    <div id="messages-area" class="col-lg-5">
    </div>
{% endblock %}

{% block content %}
    {% if pending_requests_amount > 0 %}
        {% include 'includes/pending_requests_table.html' %}
    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger fade in">
                    <button data-dismiss="alert" class="ml-2 mb-1 close" type="button">
                        <span aria-hidden="true"></span>
                    </button>
                    <strong>
                        No requests are pending in queue right now.
                    </strong>
                    <a href="{{ request.path }}"><strong> Try refreshing the page to see updates</strong></a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

