  .loader-almost-finished {
  border: 6px solid #f3f3f3; /* Green */
  border-top: 6px solid #5cb85c; /* Bold Gray */
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 3s linear infinite;
}

  .loader-finished {
  border: 6px solid #5cb85c; /* Green */
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
  .loader-failed {
  border: 6px solid #ff2d55; /* Red */
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
  .loader-aborted {
  border: 6px solid #000000; /* Black */
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

  .loader-pending {
  border: 6px solid #f3f3f3; /* Light Gray */
  border-top: 6px solid #007aff; /* Blue */
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
}

  .loader-initializing {
  border: 6px solid #f3f3f3; /* Light Gray */
  border-top: 6px solid #aaaaaa; /* Bold Gray */
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}