<div class="row">
  <div class="col-lg-9 justify-content-center">
    <section class="panel">
      <header class="panel-heading">
       Finished Requests
      </header>

      <table class="table table-striped table-advance table-hover center-block" style="text-align: center">
        <tbody>
          <tr>
            <th style="text-align: center"><i class="icon_loading"></i> ID</th>
            <th style="text-align: center"><i class="icon_clock"></i> Time Requested</th>
              <th style="text-align: center"><i class="arrow_up"></i> Priority Level</th>
            <th style="text-align: center"><i class="icon_datareport"></i> Options</th>
            <th style="text-align: center">
                <i class="icon_document"></i> Description
            </th>
            <th style="text-align: center">
                <i class="icon_search"></i> Status
            </th>
            <th style="text-align: center"><i class="icon_clock"></i> Time Waited</th>
          </tr>
            {% for finishedqueue in finishedqueues %}
                <tr>
                    <td>
                        {{ finishedqueue.id }}
                    </td>
                    <td>
                        {{ finishedqueue.time_requested }}
                    </td>
                    <td>
                        {{ finishedqueue.priority }}
                    </td>
                    <td>
                        {% include 'includes/display_json_data_modal.html' %}
                        <div class="btn-group">
                            <a class="btn btn-info" href="{% url 'rqueue_more_info' finishedqueue.id %}" data-toggle="modal">
                                <i class="icon_pencil"></i>
                                <span>Show Queue</span>
                            </a>
                            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#DisplayFinishedQueue-Data-{{ finishedqueue.id }}" title="Bootstrap 3 themes generator"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="" title="See more info on this queue">Show JSON</a></li>
                            </ul>
                        </div>
                    </td>
                    <!-- Row Description Start -->
                    <td>
                        <a data-original-title="Description for Rqueue with ID {{ finishedqueue.id }}"
                                data-content="{{ finishedqueue.description }}"
                                data-placement="right" data-trigger="hover"
                                class="btn btn-info popovers">
                            <i class="icon_document"></i>
                            <span></span> <!-- Could write some text here in the future if we want -->
                        </a>
                    </td>
                    <!-- Row Description End -->
                    <td>
                        {{ finishedqueue.status }}
                    </td>
                    <td>
                        <span class="center-block" id="pended-time-{{ finishedqueue.id }}">
                            {{ finishedqueue.pended_time_descriptive }}
                        </span>
                        <div class="{{ finishedqueue.bootstrap_classes.loader }} pull-right"></div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
  <div id="messages-area" class="col-lg-3">

  </div>
</div>