<div class="row">
  <div class="col-lg-12 justify-content-center">
    <section class="panel">
      <header class="panel-heading">
       Finished Requests
      </header>

      <table class="table table-striped table-advance table-hover center-block" style="text-align: center">
        <tbody>
          <tr>
            <th style="text-align: center"><i class="icon_loading"></i> ID</th>
            <th style="text-align: center"><i class="icon_clock"></i> Time Requested</th>
              <th style="text-align: center"><i class="arrow_up"></i> Priority Level</th>
            <th style="text-align: center"><i class="icon_datareport"></i> Options</th>
            <th style="text-align: center">
                <i class="icon_document"></i> Description
            </th>
            <th style="text-align: center">
                <i class="icon_pencil"></i> Name / Label
            </th>
            <th style="text-align: center">
                <i class="icon_pens"></i> Sign Off
            </th>
            <th style="text-align: center">
                <i class="icon_search"></i> Status
            </th>
            <th style="text-align: center"><i class="icon_clock"></i> Time Waited</th>
          </tr>
            {% for finishedqueue in finishedqueues %}
                <tr>
                    <td>
                        {{ finishedqueue.id }}
                    </td>
                    <td>
                        {{ finishedqueue.time_requested }}
                    </td>
                    <td>
                        {{ finishedqueue.priority }}
                    </td>
                    <td>
                        {% include 'includes/display_json_data_modal.html' %}
                        <div class="btn-group">
                            <a class="btn btn-info" href="{% url 'rqueue_more_info' finishedqueue.id %}">
                                <i class="icon_pencil"></i>
                                <span>Show Queue</span>
                            </a>
                            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="" title="Bootstrap 3 themes generator"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-toggle="modal" href="#DisplayFinishedQueue-Data-{{ finishedqueue.id }}" title="See more info on this queue">
                                        Show JSON
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <!-- Row Description Start -->
                    <td>
                        <a data-original-title="Description for Rqueue with ID {{ finishedqueue.id }}"
                                data-content="{{ finishedqueue.description }}"
                                data-placement="right" data-trigger="hover"
                                class="btn btn-info popovers">
                            <i class="icon_document"></i>
                            <span></span> <!-- Could write some text here in the future if we want -->
                        </a>
                    </td>
                    <!-- Row Description End -->
                    <!-- Row Label Start -->
                    <td>
                        {{ finishedqueue.name }}
                        {{ finishedqueue.label }}
                        <!--{{ finishedqueue.labels_string }}-->
                    </td>
                    <!-- Row Label End -->
                    <!-- Row Signoff Start -->
                    <td>
                        {% if finishedqueue.link and finishedqueue.link != "None" %}
                            <a href="{{ finishedqueue.link }}">
                                {{ finishedqueue.signoff }}
                            </a>
                        {% else %}
                            {{ finishedqueue.signoff }}
                        {% endif %}
                    </td>
                    <!-- Row Signoff End -->
                    <td>
                        {{ finishedqueue.status }}
                    </td>
                    <td>
                        <span class="center-block" id="pended-time-{{ finishedqueue.id }}">
                            {{ finishedqueue.pended_time_descriptive }}
                        </span>
                        <div class="{{ finishedqueue.bootstrap_classes.loader }} pull-right"></div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      <!-- Pagination Start -->
      <div class="text-center" style="background-color: #EEEEEE">
          <ul class="pagination pagination-lg">
            {% if finishedqueues.has_previous %}
                <li><a href="?page=1">&laquo; First</a></li>
                <li><a href="?page={{ finishedqueues.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for num in finishedqueues.paginator.page_range %}
                {% if finishedqueues.number == num %}
                    <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                <!-- Otherwise, display 5 page options, it's not cool to display too much -->
                {% elif num > finishedqueues.number|add:'-5' and num < finishedqueues.number|add:'5' %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if finishedqueues.has_next %}
                <li><a href="?page={{ finishedqueues.next_page_number }}">Next</a></li>
                <li><a href="?page={{ finishedqueues.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
          </ul>
      </div>
      <!-- Pagination End -->
    </section>
  </div>
</div>
