<style>
  .loader-finished {
  border: 6px solid #5cb85c; /* Green */
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
  .loader-failed {
  border: 6px solid #ff2d55; /* Red */
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
  .loader-aborted {
  border: 6px solid #000000; /* Black */
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
</style>
<div class="row">
  <div class="col-lg-9 justify-content-center">
    <section class="panel">
      <header class="panel-heading">
       Finished Requests
      </header>

      <table class="table table-striped table-advance table-hover center-block" style="text-align: center">
        <tbody>
          <tr>
            <th style="text-align: center"><i class="icon_loading"></i> ID</th>
            <th style="text-align: center"><i class="icon_clock"></i> Time Requested</th>
              <th style="text-align: center"><i class="arrow_up"></i> Priority Level</th>
            <th style="text-align: center"><i class="icon_datareport"></i> JSON Data</th>
            <th style="text-align: center">
                <i class="icon_document"></i> Description
            </th>
            <th style="text-align: center">
                <i class="icon_search"></i> Status
            </th>
            <th style="text-align: center"><i class="icon_clock"></i> Time Waited</th>
          </tr>
            {% for finishedqueue in finishedqueues %}
                <tr>
                    <td>
                        {{ finishedqueue.id }}
                    </td>
                    <td>
                        {{ finishedqueue.time_requested }}
                    </td>
                    <td>
                        {{ finishedqueue.priority }}
                    </td>
                    <td>
                        {% include 'includes/display_json_data_modal.html' %}
                        <a class="btn {{ finishedqueue.bootstrap_classes.btn }}" href="#DisplayFinishedQueue-Data-{{ finishedqueue.id }}" data-toggle="modal">
                            <i class="icon_pencil"></i>
                            <span>Show JSON</span>
                        </a>
                    </td>
                    <!-- Row Description Start -->
                    <td>
                        <a data-original-title="Description for Rqueue with ID {{ finishedqueue.id }}"
                                data-content="{{ finishedqueue.description }}"
                                data-placement="right" data-trigger="hover"
                                class="btn btn-info popovers">
                            <i class="icon_document"></i>
                            <span></span> <!-- Could write some text here in the future if we want -->
                        </a>
                    </td>
                    <!-- Row Description End -->
                    <td>
                        {{ finishedqueue.status }}
                    </td>
                    <td>
                        <span class="center-block" id="pended-time-{{ finishedqueue.id }}">
                            {{ finishedqueue.pended_time_descriptive }}
                        </span>
                        <div class="{{ finishedqueue.bootstrap_classes.loader }} pull-right"></div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
  <div id="messages-area" class="col-lg-3">

  </div>
</div>