<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="LatestUpdates" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">
                <b>Welcome back, {{ user.username }}!</b>
            </h4>
         </div>
         <div class="modal-body">
            <h3><b>Thanks for using the Resource Locker! Here are the latest feature updates:</b></h3>
            <!-- Updates Start -->
                <p style="line-height: 30px">
                    In the Lockable Resources page, in the table, now each resource name is also a clickable link that will display more metadata about the resource.
                    This metadata page displays the time that the resource has been locked, also calculates the total time and displays the total amount in a descriptive text.
                    The locked period will be displayed under the red colored LOCKED sign in a shorter description as well.
                    <br>

                    In the Dashboard, in the section <b>Available Resource and Unavailable Resources,</b> inside the secondary section of unavailable resources, the table of locked or in maintenance mode will
                    be SORTED by locked period. This means, that the older the resource is being locked (used), the higher it will be located in this table.
                    If a resource is unavailable because it is in maintenance mode, it is likely to be located in the bottom section of this table (since it's probably not going to have a locked period).
                    The Available resources however, will remain to be sorted by their ID (ascending).

                    In addition to mentioned above, the table will also display the total time that the resource is locked.
                    <br>


                    Happy Resource Locking!
                </p>
            <!-- Updates Finish-->
            <form action="{% url 'patch_notifier:update_first_visit' %}" class="form-inline" role="form" method="POST">
               {% csrf_token %}
               <button type="submit" class="btn btn-danger">
                   <i style="margin-right: 5px"  class="icon_close"></i>
                   <b>Close, and do not show this message anymore</b>
               </button>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Using jQuery, so need to load this static file here separately -->
{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
    $(window).on('load', function() {
        $('#LatestUpdates').modal('show');
    });
</script>
