<div class="row">
  <div class="col-lg-12 justify-content-center">
    <section class="panel">
      <header class="panel-heading">
        Pending Requests All Priorities
      </header>

      <table class="table table-striped table-advance table-hover center-block" style="text-align: center">
        <tbody>
          <tr>
            <th style="text-align: center"><i class="icon_loading"></i> ID</th>
            <th style="text-align: center"><i class="icon_clock"></i> Time Requested</th>
            <th style="text-align: center"><i class="arrow_up"></i> Priority Level</th>
            <th style="text-align: center"><i class="icon_datareport"></i> Options</th>
            <th style="text-align: center">
                <i class="icon_document"></i> Description
            </th>
            <th style="text-align: center">
                <i class="icon_pencil"></i> Name / Label
            </th>
            <th style="text-align: center">
                <i class="icon_pens"></i> Sign Off
            </th>
            <th style="text-align: center">
                <i class="icon_search"></i> Status
            </th>
            <th style="text-align: center"><i class="icon_clock"></i> Time Waiting</th>
          </tr>
            {% for rqueue in rqueues %}
                <tr>
                    <td>{{ rqueue.id }}</td>
                    <td>{{ rqueue.time_requested }}</td>
                    <td>
                        {% if user.is_staff %}
                            {% include 'includes/change_priority_modals.html' %}
                            <div id="priority-options-{{ rqueue.id }}" class="btn-group">
                                <a href="#Change-Priority-1-{{ rqueue.id }}" class="btn btn-danger" type="button" data-toggle="modal">1</a>
                                <a href="#Change-Priority-2-{{ rqueue.id }}" class="btn btn-danger" type="button" data-toggle="modal">2</a>
                                <a href="#Change-Priority-3-{{ rqueue.id }}" class="btn btn-danger" type="button" data-toggle="modal">3</a>
                                <a href="#Change-Priority-4-{{ rqueue.id }}" class="btn btn-danger" type="button" data-toggle="modal">4</a>
                            </div>

                            <script>
                                btnGroups = document.getElementById('priority-options-{{ rqueue.id }}').children;
                                activePriority = "{{ rqueue.priority }}";
                                for (var item of btnGroups)
                                {
                                    if (item.innerHTML === activePriority)
                                    {
                                        item.className += ' active';
                                        item.href = ""
                                    }
                                }
                            </script>
                        {% else %}
                            {{ rqueue.priority }}
                        {% endif %}
                    </td>
                    <!-- Row Options Start -->
                    <td>
                        {% include 'includes/display_json_data_modal.html' %}
                        {% if user.is_staff %}
                            {% include 'includes/action_queue_modal.html' %}
                        {% endif %}

                        <div class="btn-group">
                            <a class="btn btn-info" href="{% url 'rqueue_more_info' slug=rqueue.id %}">
                                <i class="icon_pencil"></i>
                                <span>Show Queue</span>
                            </a>
                            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="" title="Bootstrap 3 themes generator"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-toggle="modal" href="#Display-Data-{{ rqueue.id }}" title="See more info on this queue">
                                        Show JSON
                                    </a>
                                </li>
                                {% if user.is_staff %}
                                    <li>
                                        <a data-toggle="modal" href="#Abort-Rqueue-{{ rqueue.id }}" title="Click to abort this queue">
                                            Abort Queue
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                    <!-- Row Options End -->
                    <!-- Row Description Start -->
                    <td>
                        <a data-original-title="Description for Rqueue with ID {{ rqueue.id }}"
                                data-content="{{ rqueue.description }}"
                                data-placement="right" data-trigger="hover"
                                class="btn btn-info popovers">
                            <i class="icon_document"></i>
                            <span></span> <!-- Could write some text here in the future if we want -->
                        </a>
                    </td>
                    <!-- Row Description End -->
                    <!-- Row Label Start -->
                    <td>
                        {{ rqueue.data.name }}
                        {{ rqueue.data.label }}
                        <!--{{ rqueue.data.labels_string }}-->
                    </td>
                    <!-- Row Label End -->
                    <!-- Row Signoff Start -->
                    <td>
                        {% if rqueue.data.link and rqueue.data.link != "None" %}
                            <a href="{{ rqueue.data.link }}">
                                {{ rqueue.data.signoff }}
                            </a>
                        {% else %}
                            {{ rqueue.data.signoff }}
                        {% endif %}
                    </td>
                    <!-- Row Signoff End -->
                    <td>
                        {{ rqueue.status }}
                    </td>
                    <td>
                        <span id="pending-time-{{ rqueue.id }}">
                            {{ rqueue.pending_time_descriptive }}
                        </span>
                        <div class="{{ rqueue.bootstrap_classes.loader }} pull-right"></div>
                        <!-- To keep the pending time updated every second, we will run this script -->
                        <script>
                            setInterval(function() {
                              fetch("{% url 'rqueue_view' rqueue.id %}")
                                .then(response => response.json())
                                .then(data => document.getElementById('pending-time-{{ rqueue.id }}').innerHTML = data.pending_time_descriptive);
                            }, 36000);
                        </script>
                        <!-- To keep the pending time updated every second, we will run this script -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
</div>

<!-- To tell to our users that the page needs to be refreshed, we will run this script -->
<script>
    keep_fetching = true;
    total_rqueues = null;
    setInterval(function(){
        if (keep_fetching) {
            fetch("{% url 'rqueues_status_present_view' %}")
                .then(response => response.json())
                .then(data => total_rqueues = data.length)
        }
    }, 5000);

    setInterval(function(){
        if (keep_fetching) {
            previous_total_rqueues = parseInt('{{ pending_requests_amount }}');
            if (total_rqueues !== previous_total_rqueues ) {
                message_div = document.createElement('div');
                message_div.className = 'alert alert-danger fade in';
                message_div.innerHTML = "                            <button data-dismiss=\"alert\" class=\"ml-2 mb-1 close\" type=\"button\">\n" +
                    "                                <span aria-hidden=\"true\"></span>\n" +
                    "                            </button>\n" +
                    "                            <strong>\n" +
                    "                                Some changes occured to Requests in queue.\n" +
                    "                            </strong>\n" +
                    "                            <br>\n" +
                    "                            <a href=\"{{ request.path }}\"><strong>Click here to Refresh</strong></a>";

                main_content = document.getElementById('messages-area');
                main_content.appendChild(message_div);
                keep_fetching = false;
            }
        }
    }, 10000);
</script>
<!-- To tell to our users that the page needs to be refreshed, we will run this script -->
