<aside>
   <div id="sidebar" class="nav-collapse">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
         <li class="active">
            <a href="{% url 'dashboard_page' %}">
            <i class="icon_datareport"></i>
            <span>Dashboard</span>
            </a>
         </li>
         <li>
            <a href="{% url 'lockable_resources_page' %}">
            <i class="icon_house_alt"></i>
            <span>Lockable Resources</span>
            </a>
         </li>
         <li>
            <a href="{% url 'pending_requests_page' %}">
            <i class="icon_loading"></i>
            <span>Pending Requests</span>
            </a>
         </li>
         <li>
            <a href="{% url 'finished_requests_page' %}">
            <i class="icon_check"></i>
            <span>Finished Requests</span>
            </a>
         </li>
         <li>
            <a href="https://github.com/jimdevops19/rlocker/">
            <i class="icon_document"></i>
            <span>Documentation</span>
            </a>
         </li>
         {% if user.is_staff %}
             <li>
                <a style="color: #fabb3d" href="{% url 'admin:index' %}">
                <i class="icon_error-triangle"></i>
                <span>Admin Page</span>
                </a>
            </li>
             <li>
                <a style="color: #fabb3d" href="{% url 'admin_tools:index' %}">
                <i class="icon_error-triangle"></i>
                <span>Administrative Tools</span>
                </a>
            </li>
         {% endif %}
      </ul>
      <!-- sidebar menu end-->
   </div>
</aside>