server {
    location /static/ {
        autoindex on;
        alias /static/;
    }

    location / {
        proxy_pass ${NGINX_PROXY_PASS};
    }
    listen ${NGINX_LISTEN_PORT};
    server_name ${NGINX_SERVER_NAME};
}